<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BroForce</title>

    <script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>

    <script src="../views/SignIn/signIn.js"></script>
    <script src="../views/SignUp/signUp.js"></script>
    <script src="../views/Main/main.js"></script>

    <link rel="stylesheet" href="../css/form.css">
</head>
<body>
    <div id="main">
        <script>
            let main = new Main();
            main.show();

//            let signIn = new SignIn();
//            signIn.show();

//            let signUp = new SignUp();
//            signUp.show();
        </script>
    </div>
</body>
</html>