<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainMenu</title>

    <link rel="stylesheet" href="../css/form.css">

</head>
<body>
    <div class="menu">
        <img src="../img/broforce.png">
        <button type="submit" >Singleplayer</button>
        <button type="submit" >Multiplayer</button>
        <button type="submit" >Sign Up</button>
        <button type="submit" >Sign In</button>
        <button type="submit" >Leaders</button>
        <button type="submit" >About</button>
    </div>
</body>
</html>
