<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/js/bootstrap.min.js">

    <link rel="stylesheet" href="../css/form.css">

</head>
<body>
    <form class="form-signin">
        <p>Sign up</p>
        <input type="text" id="inputLogin" class="form-input" placeholder="Login" required>
        <input type="email" id="inputEmail" class="form-input" placeholder="Email address" required>
        <input type="password" id="inputPassword" class="form-input" placeholder="Password" required>
        <input type="password" id="inputConfirmPassword" class="form-input" placeholder="Confirm Password" required>
        <div>
            <label>
                <input type="checkbox" value="remember-me">
                Remember me
            </label>
        </div>
        <button class="form-input" type="submit" id="btnRegistration">Create Account</button>
    </form>
</body>
</html>