<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>

    <link rel="stylesheet" href="../css/form.css">

</head>
<body>

    <form class="menu">
        <p class="form-input">Log in or Sign up</p>
        <input type="email" id="inputEmail" class="form-input" placeholder="Email address" required>
        <input type="password" id="inputPassword" class="form-input" placeholder="Password" required>
        <a href="" id="createAccount" class="form-input">Create an account</a>
        <button class="form-input" type="submit" id="btnSubmit">Sign in</button>
    </form>

</body>
</html>
