@import url('https://fonts.googleapis.com/css?family=Comfortaa|Monoton|Vibur|Raleway|Bangers');

:root{
    --color1: #E8175D;
    --color2: #E84A5F;
    --color3: #FF847C;
    --color4: #E1F5FE;
}

html {
    background-size: cover;
    background: #141414 url("../img/bg3 (4).jpg") center;
    font-family: "Vibur", cursive;
}

.main-page__logo {
    margin-top: 7vh;
    margin-bottom: 3vh;
    text-align: center;
    color: var(--color1);
    font-family: Monoton, cursive;
    font-size: 10vh;
    animation: neon-text 13s steps(1, start) infinite reverse;
}

.main-page__menu {

}

.main-page__menu__button {
    display: flex;
    justify-content: center;
    border: 0;
    margin-bottom: 1vh;
    cursor: pointer;
    font-size: 6vh;
    color: var(--color4);
    background-color: rgba(0, 0, 0, 0);
    animation: neon 2s infinite alternate;
}


.login-page__signInInput, .login-page__signUpInput{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    min-height: 4vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    padding-left: 20px;
    font-size: 2vh;
    outline:none;
}

.login-page_error {
    font-size: 3vh;
    color: var(--color1);
    margin: auto;
    text-align: center;
}

.menu_title {
    margin-top: 7vh;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 10vh;
    color: var(--color2);
    animation: neon-text 13s steps(1, start) infinite reverse;
}


.about-page_text {
    text-align: center;
    font-size: 5vh;
    color:var(--color3);
}

/*.leaderboard-page__pagination {*/
    /*margin-left: 30%;*/
    /*margin-bottom: 25%;*/
/*}*/

/*.leaderboard-page__pagination a {*/
    /*cursor: default;*/
    /*user-select: none;*/
    /*margin-bottom: 5%;*/
    /*color: var(--color2);*/
    /*float: left;*/
    /*padding: 8px 16px;*/
    /*margin-left: 1px;*/
    /*margin-right: 1px;*/
    /*text-decoration: none;*/
/*}*/

/*.leaderboard-page__pagination a.active {*/
    /*background-color: var(--color1);*/
    /*color: black;*/
    /*border-radius: 10px;*/
/*}*/

/*.leaderboard-page__pagination a:hover:not(.active) {*/
    /*background-color: var(--color1);*/
    /*color: black;*/
    /*border-radius: 10px;*/
    /*cursor: pointer;*/
/*}*/

/*.leaderboard-page {*/
    /*margin-top: 17%;*/
    /*margin-left: 35%;*/
    /*margin-right: 35%;*/
    /*width: 30%;*/
/*}*/

/*.leaderboard-page p {*/
    /*margin-left: 25%;*/
    /*font-size: 200%;*/
    /*color: var(--color3);*/
    /*animation: neon-text 1s infinite alternate;*/
/*}*/

/*.profile-page {*/
/*}*/

/*.profile-page input[type='file'] {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*color: var(--color1);*/
/*}*/

/*.profile-page img {*/
    /*border-radius: 50%;*/
    /*animation: neon 1s infinite alternate;*/
/*}*/

/*.profile-page p {*/
    /*animation: neon-text 13s steps(1, start) infinite reverse;*/
/*}*/


.game-back-btn {
    width: 10%;
    position: absolute;
    margin: 0;
}

.game-score {
    position: absolute;
    color: white;
    margin-left: 48%;
    margin-top: 0;
    margin-bottom: 0;
}

/*------LoadingStart------*/

.loader {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 8vmin;
    height: 3vmin;
    position: absolute;
    left: calc(50% - 4vmin);
    top: 50vmin;
    -webkit-transform: rotate(0) translateY(-20vmin);
    transform: rotate(0) translateY(-20vmin);
    -webkit-animation: parent-rotate 4s linear infinite;
    animation: parent-rotate 4s linear infinite;
}

.loader:nth-child(2) {
    -webkit-filter: blur(2vmin);
    filter: blur(2vmin);
}

@-webkit-keyframes parent-rotate {
    to {transform: rotate(1turn) translateY(-20vmin);}
}

@keyframes parent-rotate {
    to {transform: rotate(1turn) translateY(-20vmin);}
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3vmin;
    margin: 0;
    padding: 0;
    background: rgb(12,170,119);
    z-index: 5;
    -webkit-transform-origin: center 20vmin;
    transform-origin: center 20vmin;
    -webkit-animation: rotate 1.5s cubic-bezier(.5, 0, .5, 1) infinite,
    hue 10s linear alternate infinite;
    animation: rotate 1.5s cubic-bezier(.5, 0, .5, 1) infinite,
    hue 10s linear alternate infinite;
}

.circle:nth-child(2) {
    -webkit-animation-timing-function: cubic-bezier(.6, 0, .5, 1);
    animation-timing-function: cubic-bezier(.6, 0, .5, 1);
    background: rgb(39,182,136);
    z-index: 4;
}
.circle:nth-child(3) {
    -webkit-animation-timing-function: cubic-bezier(.7, 0, .5, 1);
    animation-timing-function: cubic-bezier(.7, 0, .5, 1);
    background: rgb(60,195,152);
    z-index: 3;
}
.circle:nth-child(4) {
    -webkit-animation-timing-function: cubic-bezier(.8, 0, .5, 1);
    animation-timing-function: cubic-bezier(.8, 0, .5, 1);
    background: rgb(89,212,172);
    z-index: 2;
}
.circle:nth-child(5) {
    -webkit-animation-timing-function: cubic-bezier(.9, 0, .5, 1);
    animation-timing-function: cubic-bezier(.9, 0, .5, 1);
    background: rgb(117,224,190);
    z-index: 1;
}

@-webkit-keyframes rotate {
    to {transform: rotate(1turn);}
}
@keyframes rotate {
    to {transform: rotate(1turn);}
}

@-webkit-keyframes hue {
    to {-webkit-filter: hue-rotate(360deg);}
}
@keyframes hue {
    to {filter: hue-rotate(360deg);}
}

/*------LoadingEnd------*/

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.82),
        0 0 30px rgba(202, 228, 225, 0.24),
        0 0 12px rgba(30, 132, 242, 0.42),
        0 0 21px rgba(30, 132, 242, 0.82),
        0 0 34px rgba(30, 132, 242, 0.68),
        0 0 64px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
        0 0 30px rgba(202, 228, 225, 0.62),
        0 0 12px rgba(30, 132, 242, 0.68),
        0 0 22px rgba(30, 132, 242, 0.94),
        0 0 38px rgba(30, 132, 242, 0.98),
        0 0 90px rgba(30, 132, 242, 1);
    }
}

@keyframes neon-text {
    0%{
        color: #343434;
        text-shadow: 0 0 7px #000, 0 0 8px #000;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 500px #E8175D,0 0 500px #E8175D,0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 500px #E8175D,0 0 500px #E8175D,0 0 6px #fff,0 0 10px #fff,0 0 50px #E8175D;
    }
    82%{color: #343434;
        text-shadow: 0 0 7px #000, 0 0 8px #000;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 500px #E8175D,0 0 500px #E8175D,0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    84%{
        color: #343434;
        text-shadow: 0 0 7px #000, 0 0 8px #000;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 500px #E8175D,0 0 500px #E8175D,0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }
    100%{
        color: #343434;
        text-shadow: 0 0 7px #000,0 0 8px #000;
    }
}
