@import url('https://fonts.googleapis.com/css?family=Comfortaa|Monoton|PT+Sans|Raleway|Bangers');

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #2A363B 60%, #E8175D);
    font-family: 'Raleway';
}

.menu {
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
}

.menu button {
    outline: none;
    font-family: 'Raleway';
    font-size: 150%;
    background-color: #2A363B;
    color: #E8175D;
    width: 102%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: #E8175D;
}

.menu button:hover:not(.active) {
    animation: neon 2s infinite alternate;
}

.menu-logo {
    margin-bottom: 10px;
    font-family: Monoton;
    color: #E8175D;
    font-size: 365%;
    animation: neon-text 5s infinite alternate;
}

.form-input {
    height: 30px;
    width: 100%;
    margin-bottom: 3%;
    border-radius: 15px;
}

.login {
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
}

.login button {
    outline: none;
    font-family: 'Raleway';
    font-size: 150%;
    background-color: #2A363B;
    color: #E8175D;
    width: 102%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: #E8175D;
}

.login button:hover:not(.active) {
    animation: neon 2s infinite alternate;
}

.login p {
    color: #E84A5F;
    font-size: 200%;
    margin-bottom: 5%;
}

.login a {
    color: #FF847C;
}

.login input {
    outline: none;
}

.login input:hover {
    animation: neon 2s infinite alternate;
}

.login input:focus {
    animation: neon 2s infinite alternate;
}

.profile-img {
    height: 100px;
    width: 100px;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 50%;
}

.pagination a {
    cursor: default;
    user-select: none;
    margin-top: 30%;
    margin-bottom: 5%;
    color: #E84A5F;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #E84A5F;
    color: #2A363B;
    border-radius: 10px;
}

.pagination a:hover:not(.active) {
    background-color: #E84A5F;
    color: #2A363B;
    border-radius: 10px;
}

.leaderBoard {
    margin-top: 17%;
    margin-left: 40%;
    margin-right: 40%;
}

.leaderBoard p {
    font-size: 200%;
    margin-bottom: 5%;
}

.leaderBoard button {
    outline: none;
    font-family: 'Raleway';
    font-size: 120%;
    background-color: #E84A5F;
    color: #2A363B;
    width: 102%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.leaderBoard button:hover:not(.active) {
    animation: neon 2s infinite alternate;
}

.leaderBoard-block {
    color: #FF847C;
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

@keyframes neon {
    0% {
        box-shadow: 0 0 10px 2px #E8175D;
    }
    50% {
        box-shadow: 0 0 15px 4px #E8175D;
    }
    100% {
        box-shadow: 0 0 20px 6px #E8175D;
    }
}

@keyframes neon-text {
    0% {
        text-shadow: 0 0 10px #E8175D;
    }

    20% {
        text-shadow: 0 0 20px #E8175D;
    }

    40% {
        text-shadow: 0 0 40px #E8175D;
    }

    60% {
        text-shadow: 0 0 60px #E8175D;
    }

    80% {
        text-shadow: 0 0 80px #E8175D;
    }

    100% {
        text-shadow: 0 0 100px #E8175D;
    }
}
