.game-page

  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.game-page__button
  margin-bottom: 0
  cursor: pointer
  border: 0
  font-size: 6vh
  color: #E1F5FE
  background-color: rgba(0, 0, 0, 0)
  animation: neon 2s infinite alternate


.game-page__canvas
  overflow: hidden
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: -1

.game-page__text__score
  border: 0
  font-size: 6vh
  color: #E1F5FE
  background-color: rgba(0, 0, 0, 0)
  animation: neon 2s infinite alternate

.game-page__text__ending
  border: 0
  font-size: 6vh
  color: #E1F5FE
  background-color: rgba(0, 0, 0, 0)
  animation: neon 2s infinite alternate

