@import url("https://fonts.googleapis.com/css?family=Monoton|Vibur|Raleway|Bangers")
@import "flicker-animation"
@import "loading-animation"
@import "game-style"

$color1: #E8175D
$color2: #E84A5F
$color3: #FF847C
$color4: #E1F5FE
$color5: #141414

%center
  display: flex
  align-items: center
  justify-content: center
  margin:
    left: auto
    right: auto
    bottom: 2vh

%input
  min-height: 4vh
  flex-direction: column
  border-radius: 25px
  padding-left: 20px
  font-size: 2vh
  outline: none

html 
    background-size: cover
    background: $color5 url("../img/background.jpg") center
    font-family: "Vibur", cursive

.main-page__menu__button
  @extend %center
  border: 0
  cursor: pointer
  font-size: 6vh
  color: $color4
  background-color: rgba(0, 0, 0, 0)
  animation: neon 2s infinite alternate
.main-page__menu__logo
  margin:
    top: 7vh
    bottom: 3vh
  text-align: center
  color: $color1
  font-family: Monoton, cursive
  font-size: 10vh
  animation: neon-text 13s steps(1, start) infinite reverse

.login-page
  .login-page__signInInput
    @extend %input
    @extend %center
  .login-page__signUpInput
    @extend %input
    @extend %center
  .login-page_error
      font-size: 3vh
      color: $color1
      margin: auto
      text-align: center

.menu_title
    margin-top: 5vh
    margin-bottom: 3vh
    text-align: center
    font-size: 10vh
    color: $color2
    animation: neon-text 13s steps(1, start) infinite reverse

.leaderboard-page
  .leaderboard-page__pagination
    @extend %center
    color: $color4
    cursor: pointer
    flex-direction: row
    user-select: none
    text-decoration: none
    font-size: 5vh
    animation: neon 2s infinite alternate

  .leaderboard-page__pagination_leaf

  .leaderboard-page__pagination_active
    padding:
      left: 1.5vh
      right: 1.5vh
    background-color: #79a7fc
    border-radius: 10px

  .leaderboard-page__pagination_arrow
    margin:
      left: 2vh
      right: 2vh

  .leaderboard-page__users
    font-size: 5vh
    text-align: center
    color: $color3
    margin-top: 0

.about-page_text
    text-align: center
    font-size: 5vh
    color: $color3

.profile-page
  .profile-page__dataInput
    @extend %input
    @extend %center
  .profile-page__avatar
    @extend %center
    border-radius: 50%
    max-height: 16vh
